<!DOCTYPE html>
<html>
<body>
<head>
  <title>房管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="w3-quarter w3-container"> </div>
<div class="w3-half w3-container">
  <div class="w3-content w3-display-container container" style="max-width:1500px">
    <table class="w3-table w3-striped">
      <tr>
        <th></th>
        <th style="width: 25%">标题</th>
        <th>主题</th>
      </tr>
      <% @posts.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><a href=<%= posts_path(id:p.id) %> style="width: 25%"><i class="fa fa-id-card-o fa-fw"></i><%= p.title %></td>
        <td><%= p.content %></td>
      </tr>
      <% end %>
    </table>
    <a class="button" href="welcome/index" style="border-radius: 8px; font-size: 16px; color: #808080; background: #D3D3D3">返回</a>
  </div>
</div>
<div class="w3-quarter w3-container"></div>
</body>
</html>