<!DOCTYPE html>
<html lang="en">
<head>
  <title>房管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="w3-quarter w3-container"> </div>
<div class="w3-half w3-container">
  <div class="w3-content w3-display-container" style="max-width:500px">
  
  <img class="mySlides" src="/images/1.jpg" style="width:100%">
  <img class="mySlides" src="/images/2.jpg" style="width:100%">
  <img class="mySlides" src="/images/3.jpg" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>
</div>
<div class="w3-quarter w3-container"></div>
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>
<style>
img {
  height: 300px;
  width: 200%;
}
</style>
<body>
  <div class="w3-row">
    <div class="w3-quarter w3-container"> </div>
      <div class="w3-half w3-container">
        <h1>欢迎来到房管理</h1>
          <table class="w3-table w3-striped">
            <tr>
              <th></th>
              <th>标题</th>
              <th>主题</th>
            </tr>
          <% @posts.each do |p| %>
            <tr>
  	          <td><%= p.id %></td>
              <td><a href=<%= posts_path(id:p.id) %>><i class="fa fa-id-card-o fa-fw"></i><%= p.title %></td>
              <td><%= p.content %></td>
            </tr>
          <% end %>
          </table>
      </div>
    <div class="w3-quarter w3-container"></div>
</div>
</body>
</html>