<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>
<h1>欢迎来到房管理</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <%= @post.each do |p| %>
  <tr>
  	<td><%= p.id %></td>
    <td><%= p.title %></td>
    <td><%= p.content %></td>
  </tr>
  <% end %>
 </table>
  
</body>
</html>